body {
    background-image: url("../images/aboutAssignment.jpg");
    font-family: 'Hind', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.flex-container {
    display: flex;
    align-items: stretch;
    margin-right: 15%;
    margin-left: 15%;
    background-color: black;
    opacity: 0.8;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-wrap: wrap;
    color: #fff;
    padding: 63px;
}
h3.sub {
    width: 93%;
    text-align: justify;
}

.flex-container>div {
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.sub {
    width: 90%;
    text-align: justify;
}
.back {
    float: right;
    margin: 0px;
    font-size: 16px;
    position: fixed;
    right: 25px;
    top: 25px;
    color: white;
    font-weight: 800
}
